.TodoInsert {
    display: flex;
    margin-left: 0.5rem;
    margin-right: 0.3rem;
}
input {
    background: none;
    outline: none;
    border: none;
    padding: 1rem;
    margin: 0.3rem;
    font-size: 1.125rem;
    line-height: 1.5;
    flex: 1;
    border-radius: 7px;
    background: #efeeee;
    box-shadow: inset 5px 5px 10px #dedddd, inset -5px -5px 10px #ffffff;
}
input::placeholder {
    font-size: 15px;
    color: #a1a1a1;
}

button {
    outline: none;
    border: none;
    padding-left: 1rem;
    padding-right: 1rem;
    margin: 0.4rem;
    font-size: 1.5rem;
    display: flex;
    align-items: center;
    cursor: pointer;
    border-radius: 8px;
    background: #e0e0e0;
    box-shadow: 4px 4px 8px #a6a6a6, -4px -4px 8px #ffffff;
}
button:hover {
    /* color: #ffffff; */
    border-radius: 8px;
    background: #a1a1a1;
    box-shadow: inset 5px 5px 6px #414141, inset -5px -5px 6px #d3d3d3;
}
