/* src/components/TodoListTemplate.js */

.TodoListTemplate {
    width: 462px;
    margin: 0 auto;
    margin-top: 96px;
    margin-bottom: 38px;
    border-radius: 22px;
    border: 1px solid rgba(255, 255, 255, 0.2);
    box-shadow: -6px -6px 16px 0 rgba(255, 255, 255, 0.83),
        6px 6px 6px 0 rgba(217, 210, 200, 0.51);
    background: #efeeee;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.TodoHeadBlock {
    padding: 48px 32px 24px 32px;
}

.app-title {
    margin: 0;
    font-size: 36px;
    color: #45494d;
    font-weight: bold;
}
h1 {
    margin-top: 4px;
    color: #a1a7ad;
    font-size: 21px;
}
